.main__btn {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: #1eac7c;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: ease 0.7s;
    display: flex;
    margin: 50px auto 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__btn:hover {
    background-color: #1e4639;
}