.client {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    background-color: #4b9f9f;
    transition: ease 0.7s;
    padding: 5px;
}
.client:hover {
    background-color: #185454;
}