.address-chose {
    height: 50px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    line-height: 18px;
}
.address-chose p {
    margin: 0;
}